# OS / editor
.DS_Store
.idea/
.vscode/
*.iml

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
coverage/

# Platform build folders
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/
macos/Pods/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Generated
**/Generated.xcconfig
**/flutter_export_environment.sh
**/ephemeral/

# Local secrets
assets/.env
.vercel
